{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/asserts/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static '../static/asserts/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '../static/asserts/css/style.css' %}">
    <link rel="stylesheet" href="{% static '../static/asserts/css/styleprime.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body id="fondoimagen">
    <header>
        <img src="{% static '../static/asserts/img/1.webp' %}" class="banner">
        <a href="{% url 'index' %}" id="logo_id" class="logo">SpeedRun</a>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'gestion' %}">Admin</a></li>
            </ul>
    </header>     
    <div id="cajaFormulario"> 
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h4>Edite la descripcion de la zapatilla</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Descripcion zapatilla</h4>

                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %} <!--Token de verificacion-->
                        {% for campo in formulario %}
                        <div class="mb-3">
                            <label for="" class="form-label">{{ campo.label }}:</label>
                            <!--obtenemos el tipo de dato del campo-->
                            <input type="{{ campo.field.widget.input_type }}" class="form-control" 
                            name="{{ campo.name}}" id="" aria-describedby="helpId" 
                            placeholder="{{ campo.label }}"
                            value="{{ campo.value | default:'' }}">
                            
                        </div>
                        <!--Muestra los errores de validacion-->
                        <div class="col-12 help-text">{{ campo.errors }}</div>
                        {% endfor %}
                        <input name="" id="" class="btn btn-success" type="submit" value="Enviar información"></a>
                        <a name="" id="" class="btn btn-primary" href="{% url 'inventario' %}" role="button">Cancelar</a>
                    </form>

                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
    </div>     
</body>
</html>