{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/asserts/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static '../static/asserts/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '../static/asserts/css/style.css' %}">
    <link rel="stylesheet" href="{% static '../static/asserts/css/styleprime.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
    <title>inventario</title>
</head>
<body id="fondoimagen">
    <header>
        <img src="{% static '../static/asserts/img/1.webp' %}" class="banner">
        <a href="{% url 'index' %}" id="logo_id" class="logo">SpeedRun</a>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'gestion' %}">Admin</a></li>
            </ul>
    </header>   
    <div id="cajaFormulario">
        <div class="container">
            <!--Tabla de bootstrap para listar inventario-->
            <div class="card">

                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                            <h4>Nuestro Catálogo</h4>
                        </div>
                        <div class="col-3">
                            <a name="" id="" type="button" class="btn btn-warning" href="{% url 'agregarInventario' %}" role="Buttom">Agregar zapatilla</a>
                        </div>
                    </div>
                </div>    
                <div class="card-body">
                    <table class="table table-hover">

                        <thead class="thead-light">
                        <tr>
                            <th class="text-center" scope="col">ID</th>
                            <th class="text-center" scope="col">Modelo</th>
                            <th class="text-center" scope="col">Talla</th>
                            <th class="text-center" scope="col">Color</th>
                            <th class="text-center" scope="col">Género</th>
                            <th class="text-center" scope="col">Precio (US$)</th>
                            <th class="text-center" scope="col">Acciones</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for var in zapatillas %}    
                        <tr>
                            <th class="text-center" >{{ var.idZapatilla }}</th>
                            <td class="text-center" >{{ var.modelo }}</td>
                            <td class="text-center" >{{ var.talla }}</td>
                            <td class="text-center" >{{ var.color }}</td>
                            <td class="text-center" >{{ var.genero }}</td>
                            <td class="text-center" >{{ var.precio }}</td>
                            <td class="text-center" > 
                                <a type="button" class="btn btn-secondary" href="{% url 'editarinventario' var.idZapatilla %}">Editar</a>
                                <a type="button" class="btn btn-danger" href="{% url 'eliminarinventario' var.idZapatilla %}">Eliminar</a>
                            </td>    
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-muted">
                </div>   
            </div> 
        </div>
    </div>
</body>
</html>